body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
p, h5, span{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.main{
    width: 100%;
    height: 500px;
    background-color: #eeeeeb;
    text-align:center;
    padding-top: 15%;
    margin: 0;

}
.social-media{
    padding-top: 30px;
}
.discord-button{
    background-color: #b00118;
    padding: 12px 50px;
    border-radius: 40px;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3%;
}
.discord-button:hover{
    background-color: #000000;
}
.icon-img{
    height: auto;
    width: 50px;
}
.main-logo{
    height: auto;
    width: 40px;
    float: left;
    padding: 25px;
}
.main-logo-long{
    height: auto;
    width: 300px;
}
.regiments{
    background-color: #b00118;
    display: flex;
    padding: 1% 7%;
    position: relative;
}
.regiment-section{
    width: 30%;
    padding: 1% 4%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-width: 218px;
    position: relative;
}
.sub-header{
    background-color: #b00118;
    text-align: center;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    padding: 1% 15%;
    color: white;
}
.mission-community{
    background-color: #eeeeeb;
    font-color: black;
    padding: 3% 7%;
    position: relative;
}
.our-mission{
    width: 50%;
    font-size: 18px;
    border-left: solid #f3283a 5px;
    padding-left: 20px;
}
.icon-info{
    width:50%;
    height:auto;
    padding: 5% 1%;
    min-width: 218px;
}
.icon-container{
    color:  #f3283a;
    display: flex;
    padding: 1%;
}
.footer{
    height: 5%;
    background-color: #333;
    padding: 10px 30px;
}

.main-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

#slides{
  opacity: .8;
  list-style-type: none;
}

.slides{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing{
  opacity: 1;
  z-index: -1;
}

.slides{
  box-sizing: border-box;
  background: #333;
  color: #fff;
  object-fit: cover;
}

@media screen and (max-width: 900px){
    .regiments{
        display: block;
        text-align: center;
        padding: 1% 4%;
    }
    .regiment-section{
        width: 90%;
    }
    .icon-info{
       width: 100%;
    }
    .our-mission{
        width: 90%;
    }
    .icon-container{
        display: block;
    }
}